@{
    ViewData["Title"] = "All users";
}


@{
    List<User> l = (List<User>)ViewData["usersList"];
}

@if (@l == null || @l.Count == 0)
{
    <div class="alert alert-info" role="alert" style="margin: 20px">
        <h1>No userss found!</h1>
    </div>
}
else
{

    <div style="margin: 20px">
        <div class="row">
            @foreach (User @s in @l)
            {
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title"> @s.Id) @s.last_name @s.first_name  </h5>
                        <h6 class="card-subtitle mb-2 text-muted"><b>Email:</b> @s.email</h6>
                        <h6 class="card-subtitle mb-2 text-muted"><b>Password:</b> @s.password</h6>
                        <h6 class="card-subtitle mb-2 text-muted"> <b>Birth date: </b>@s.birth_date</h6>
                        <h6 class="card-subtitle mb-2 text-muted"> <b>Adress: </b>@s.address</h6>

                    </div>

                </div>

            }
        </div>
    </div>

}
