
@{
    ViewBag.Title = "Profile";
}

@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <span><b>Sorry!</b> - @TempData["Error"] </span>
    </div>
}
else{

    User u = (User)ViewData["currentUser"];



<div class="card text-center">
   
    <div class="card-body">
        <div class="card-header">
            <h1>@u.first_name @u.last_name</h1>
        </div>
        <h6 class="card-subtitle mb-2 text-muted"><b>Email:</b> @u.email</h6>
            @*        <h6 class="card-subtitle mb-2 text-muted"><b>Password:</b> @u.password</h6> *@
        <h6 class="card-subtitle mb-2 text-muted"> <b>Birth date: </b>@u.birth_date</h6>
        <h6 class="card-subtitle mb-2 text-muted"> <b>Address: </b>@u.address</h6>
    </div>

     <a href="/Account/EditProfile">Edit profile</a>
</div>
}